<div class="d-flex">

    <div class="content w-100">
        <div class="row g-2 mb-3">
            <div class="col-12 col-md-auto">
                <button class="btn btn-custom w-100" (click)="openClientDialog('New Client')">
                    <i class="bi bi-plus"></i> New
                </button>
            </div>
            <div class="col-12 col-md-auto">
                <button class="btn btn-custom w-100" (click)="downloadCSV()">
                    <i class="bi bi-file-earmark-arrow-up"></i> Export
                </button>
            </div>
        </div>
    
        <div class="row g-2 mb-3">
            <div class="col-12 col-md-auto">
                <button mat-flat-button class="btn btn-custom w-100" (click)="openAdvancedSearch()">Advanced Search</button>
            </div>
            <div class="col-12 col-md-auto">
                <button class="btn btn-custom w-100" (click)="refreshClients()">Reload</button>
            </div>
            
        </div>

        <div class="row g-2 mb-3">
            <div class="title-clients col-12 col-md-auto">
                List of clients
            </div>
        </div>

        <div class="col-12">
            <table class="table table-responsive table-bordered">
                <thead class="table-light text-white text-center">
                    <tr>
                        @for (col of columns; track col.key) {
                            <th>{{ col.name }}</th>
                        }
                        <th><i class="bi bi-pencil"></i></th>
                        <th><i class="bi bi-trash"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @if(loading()) {
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                    }@else {
                        <tr class="text-center" *ngFor="let client of signalClients() | paginate: { itemsPerPage: 10, currentPage: page() }; trackByClient">
                            <td *ngFor="let col of columns" [attr.data-label]="col.name">
                                {{ client[col.key] }}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openClientDialog('Update Client', client)"><i class="bi bi-pencil"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="removeClient(client.id ?? '')"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="d-flex justify-content-center">
                                    <pagination-controls (pageChange)="page.set($event)"></pagination-controls>
                                </div>
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>

            <div>
                <tr *ngIf="!loading() && signalClients().length === 0">
                    <td colspan="7" class="text-center text-muted">Data not found</td>
                </tr>
            </div>
        </div>
    </div>
</div>

