<div class="modal fade" #newClientModal id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel">
    <div class="modal-dialog">
        <div class="modal-content modal-content-info">
            <div class="modal-header">
                <h5 class="modal-title" id="newClientModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <form [formGroup]="clientForm">
                <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                            <label for="document" class="form-label">Document</label>
                            <input #document type="text" class="form-control" id="document" formControlName="document" [readOnly]="!isNewClient">
                            @if (isInvalid('document') && !clientForm.get('document')?.errors?.['duplicate']) {
                                <div class="text-danger">
                                    Document is required and must be at least 8 characters long.
                                </div>
                            }
                            @if (clientForm.get('document')?.errors?.['duplicate']) {
                                <div class="text-danger">
                                    Document already exists.
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                            @if (isInvalid('name')) {
                                <div class="text-danger">
                                    Name is required.
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" formControlName="phone">
                            @if (isInvalid('phone')) {
                                <div class="text-danger">
                                    Enter a valid phone number (10 digits).
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            @if (isInvalid('email')) {
                                <div class="text-danger">
                                    Enter a valid email address.
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="startDate" formControlName="startDate">
                            @if (isInvalid('startDate')) {
                                <div class="text-danger">
                                    Start date is required.
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="endDate" formControlName="endDate">
                            @if (isInvalid('endDate')) {
                                <div class="text-danger">
                                    End date is required.
                                </div>
                            }
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-custom" (click)="validateForm()" [disabled]="clientForm.invalid">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
