<div class="modal-content-info">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <form [formGroup]="searchForm" (ngSubmit)="submit()">
        <mat-dialog-content>
            <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Field</mat-label>
                <mat-select formControlName="field">
                    <mat-option *ngFor="let col of columns" [value]="col.key">{{ col.name| titlecase }}</mat-option>
                </mat-select>
                <mat-error *ngIf="searchForm.get('field')?.invalid">Field is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Value</mat-label>
                <input matInput formControlName="value" />
                <mat-error *ngIf="searchForm.get('value')?.invalid">Value is required.</mat-error>
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button (click)="cancel()" type="button">Cancel</button>
            <button mat-flat-button color="primary" [disabled]="searchForm.invalid" type="submit">Search</button>
        </mat-dialog-actions>
    </form>
</div>

