@use 'variables' as *;

h1, h2 {
  color: $color-secondary;
  font-weight: bold;
  font-size: larger;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  padding: 20px;

  a {
    color: $color-primary;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      background: $color-secondary;
      color: $color-background;
    }
  }
}

.menu {
  z-index: 1050;
}


