<div class="sidebar">
    <div>
        <h1>BANK OF CLIENTS</h1>
    </div>
    <a routerLink="/">Home</a>
    <a [routerLink]="[{ outlets: { main: ['clients'] } }]">Client</a>
</div>

<!-- Botón para abrir el menú en móviles -->
<div class="d-md-none text-center bg-light p-2 shadow menu">
    <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
        <i class="bi bi-list"></i> Menu
    </button>
</div>

<!-- Offcanvas menu para móviles -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <h2>BANK OF CLIENTS</h2>
        <nav class="nav flex-column mt-3">
            <a class="nav-link" routerLink="/" data-bs-dismiss="offcanvas">Home</a>
            <a class="nav-link" [routerLink]="[{ outlets: { main: ['clients'] } }]" data-bs-dismiss="offcanvas">Clientes</a>
        </nav>
    </div>
</div>
