<div class="sidebar">
    
    <img src="logo.png" alt="Alianza Logo" class="img-fluid">
    
    <a routerLink="/">
        Clientes
    </a>
    <a >Client look history</a>
    <a >Emergency PIN configuration</a>
    <a >Emergency PIN history</a>
</div>

<!-- Botón para abrir el menú en móviles -->
<div class="d-md-none text-center fixed-top bg-light p-2 shadow">
    <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
        ☰ Menu
    </button>
</div>

<!-- Offcanvas menu para móviles -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <img src="logo.png" alt="Alianza Logo" class="img-fluid logo">
        <nav class="nav flex-column mt-3">
            <a class="nav-link" routerLink="/clients">Clientes</a>
            <a class="nav-link">Client look history</a>
            <a class="nav-link">Emergency PIN configuration</a>
            <a class="nav-link">Emergency PIN history</a>
        </nav>
    </div>
</div>
